.container {
    grid-area: content;
    display: grid;
    align-self: center;
    justify-self: center;
}

.inf {
    height: 300px;
    width: 600px;
    background: url(/img/shattered.png);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
}

.places {
    margin-top: -160px;
    margin-left: -110px;
}

.block {
    width: 400px;
    height: 40px;
    transform-origin: 100% 26px;
    transform: rotate(0deg);
    position: absolute;
}

.block:nth-child(1) {
    transform: rotate(0deg);
}
.block:nth-child(2) {
    transform: rotate(0deg);
    margin-left: -60px;
}
.block:nth-child(3) {
    transform: rotate(10deg);
}
.block:nth-child(4) {
    transform: rotate(12deg);
    margin-left: -60px;
}
.block:nth-child(5) {
    transform: rotate(350deg);
}
.block:nth-child(6) {
    transform: rotate(348deg);
    margin-left: -60px;
}
.block:nth-child(7) {
    transform: rotate(250deg);
}
.block:nth-child(8) {
    transform: rotate(270deg);
}
.square {
  background: green;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  position: absolute;
}

.square:hover {
    transform: scale(1.1);
}